/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-black: #283136;         
  --basic-dark-grey: #444444;
  --basic-grey: #666666;    
  --basic-light-grey: #E1E1E1;    
  --basic-white: #FFFFFF; 

  --basic-red: #FB565A;
  --hover-red: #E74246;
  --push-red: #D7373B;

  --basic-green: #00CA74;
  --hover-green: #00BC6C;
  --push-green: #00AA62;

  --basic-yellow: #EFC849;  
  --hover-yellow: #EAB534;
  --push-yellow: #E5A722;

  --push-arrow-black: #231F20;
  --basic-arrow-grey: #A6A6A6; 

  --basic-background-grey: #EEEEEE;
  --hover-button-grey: #DFDFDF;
  --push-button-grey: #D5D5D5;
    
  --hover-browser-grey: #4D4D4D;

  --basic-form-grey: #D7DCDE;
  --hover-form-grey: #B4B9BB;    
}

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-light-black);    
}

a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
}
  
.main-navigation-wrapper {
  background-color: var(--basic-background-grey);
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

.main-navigation-logo:focus {
    background-color: #A6A6A6;
}
  
/* User navigation */

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}
  
.site-navigation a:hover,
.cart a:hover {
  color: var(--basic-red);
}

.site-navigation a:focus,
.cart a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Features */

.features-list {
  list-style: none;
}
  
.features-item {
  text-align: left;
}
  
.catch-phrase {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/* Specialization */

.specialization-list {
  list-style: none;
}
    
.specialization-item {
  
}

.specialization-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  width: 240px;
  height: 50px;
  padding: 11px 52px;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:focus {
  background-color: var(--push-red);
  color: rgba(256, 256, 256, 0.3);
}

.button-red {
  padding: 11px 39.5px;
}

.button-write-us {
  padding: 11px 44px;
}

.button-green {
  padding: 11px 39.5px;
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--hover-green);
}
  
.button-green:focus {
  background-color: var(--push-green);
  color: rgba(256, 256, 256, 0.3);
}

.button-yellow {
  padding: 11px 39.5px;
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--hover-yellow);
}

.button-yellow:focus {
  background-color: var(--push-yellow);
  color: rgba(256, 256, 256, 0.3);
}

/* About */

.slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-list-1,
.about-list-2 {
  list-style: none;  
}

.about-item-1 {
  
}

.about-item-2 {
  line-height: 18px;
}

.key-numbers {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.percent {
  font-size: 26px;
  line-height: 40px;  
}

/* Clients */

.clients-item {
  list-style: none;
}

.clients-item {
  opacity: 0.2;
}

.clients-item:hover {
  opacity: 1.0;
}

.clients-item:focus {
  opacity: 0.1;
}

/* Contacts */

.contacts-phone {
  color: inherit;
}

/* Footer */

.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-text {
  line-height: 22px;
  color: var(--basic-dark-grey)
}

.footer-social-list {
  list-style: none;
}

.footer-social-item {
  background-color: var(--basic-light-grey);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  line-height: 91px;
  text-align: center;
  vertical-align: middle;
  
}

.footer-social-item:hover {
  background-color: var(--hover-red);
}

.footer-social-item:focus {
  background-color: var(--push-red);
}

.social-image:focus {
  opacity: 0.3;
}